Jewellery.Web/Jewellery.Web/bin/System.Web.Helpers.xml
Jewellery.Web/Jewellery.Web/bin/
Jewellery.Web/Jeweller..BusinessLogic/bin/Debug/Jeweller._.BusinessLogic.dll
Jewellery.Web/Jeweller.Utility/bin/
Jewellery.Web/Jeweller.Utility/obj/
Jewellery.Web/Jeweller.DataModel/bin/
Jewellery.Web/Jeweller.DataModel/obj/Debug/
Jewellery.Web/Jeweller..BusinessLogic/obj/Debug/
Jewellery.Web/Jeweller..BusinessLogic/bin/
Jewellery.Web/Jeweller..BusinessLogic/Properties/AssemblyInfo.cs
Jewellery.Web/Jeweller.DataModel/Properties/AssemblyInfo.cs
Jewellery.Web/Jeweller.Utility/Properties/AssemblyInfo.cs
